extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  .jumbotron
    h1.text-primary Welcome to our express app
    p.lead Checkout the 
      a(href="/users") Users 
      | page !